.feed-post-footer-icon{
  width: calc(100%/3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-post-footer-icon:nth-child(2){
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}