@media only screen and (max-width: 992px) {
  .share-post-window{
    //transform: scale(0.9);
    padding: 70px;
  }
  .post-description{
    font-size: 15px;
    padding: 5px 10px;

  }
  .post-url{
    font-size: 15px;
    padding: 5px 10px;

  }
  .share-post-btn{
    padding: 10px 20px;
    font-size: 15px;

  }
}