@media only screen and (max-width: 992px) {
  .settings-page {
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .settings-window {
    align-self: center;
    transform: scale(0.6);
    padding: 40px 130px 40px 110px;
  
  }
  .personal-info-fields, .contact-info-fields, .change-password-fields{
    margin: 0px 0px 10px 15px;
    width: 200px;
    padding: 5px;
  }
  .gender-select-holder select{
    width: 200px;

  }
  .settings-labels{
    font-size: 15px;
    text-align: left;
    align-self: center;
    vertical-align: middle;
  }
  .change-photo-button{
    font-size: 15px;
  }
}