.main-feed-profile{
  width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //overflow: hidden;
  //background-color: teal;
  border-radius: 5%;

  &-settings{
    align-self: flex-end;
    margin-top: 41px;
    margin-right: 41px;
  }

  &-photo{
    width: 163px;
    border-radius: 30%;
    margin-bottom: 18px;
  }
  .main-feed-profile-username{
    font-size: 36px;
    margin-bottom: 45px;
  }

  &-info{
    display: flex;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    font-size: 22px;
    margin-bottom: 25px;
    &-text{
      margin-right: 50px;
    }
    &-text:last-of-type{
      margin-right: 0;
    }
  }

  &-icons{
    display: flex;
    &-wrapper{
      margin-right: 50px;
    }
    &-wrapper:last-of-type{
      margin-right: 0;
    }
  }
}