.container-for-feed {
  width: 1000px;
  margin-top: 80px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.userProfileCardContainer {
  width: 30%;
  height: 500px;
  border: 0.5px solid black;
}

.userProfileCard {
  height: 70%;
  background-color: red;
  position: fixed;
}


@media screen and (max-width: 999px) {
 
  .userProfileCardContainer {
    display: none;
  }

  .container-for-feed {
    width: unset;
  }
}