@import "../ShareTheMoment/css/shareTheMoment";
@import "./SiginPage-media";

.sign-in-page{
  background: rgb(247,246,252);
  background: linear-gradient(90deg, rgba(247,246,252,1) 77%, rgba(254,238,229,1) 77%);
  padding: 100px 0px;

}

.login-page-container{
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;

}



