.comment{
  display: flex;
  padding: 40px 40px 0px;
  //margin-bottom: 100px;
  color: #5c5c5c;
}
.comment-details{
  align-self: center;
  margin-left: 15px;
}

.comment-name-and-comment{

}
.commenter-name{
  font-size: 25px;
  font-weight: bold;
}
.commenter-comment{
  font-size: 25px;

}