$font-color: rgba(74, 74, 74, 255);

.userInfoContainer {
    width: 30%;
    border-radius: 40px;
    background-color: #ffffff;
    position: relative;
    top: -220px;


    &_setting::after {
        content: '';
        clear: both;
        display: block;
    }

    &_setting_icon {
        width: 25px;
        margin: 20px 30px 0 0;
        float: right;
        cursor: pointer;
    }

    &_setting_icon:hover {
        transform: rotate(20deg);
    }

    &_userInfo {
        display: inline-block;
        margin: 50px calc((100% - 190px) / 2);
        margin-bottom: 0;
    }

    &_nickname {
        margin: 15px 0;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: $font-color;
    }

    &_bio {
        font-size: 17px;
        margin-left: 12px;
        color: $font-color;
    }
}



.followInfoContainer {
    margin-top: 15px;
    padding: 20px 0 80px 0;
    border-top: 1px solid lightgray;
    display: flex;

    &_followInfo {
        margin: 0 7px;
    }
}

.followInfo_text, .followInfo_counter {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.followInfo_text {
    margin-bottom: 8px;
    color: rgba(174, 174, 174, 255);
}


@media screen and (max-width: 1279px) {

    .userInfoContainer {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        position: unset;
        border-radius: 20px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        box-sizing: border-box;
    
        &_setting_icon {
            margin: 0;
            width: 15px;
        }

        &_userInfo {
            margin: 0 auto;
            display: flex;
            align-items: center;
        }

        &_bio {
            display: none;
        }

        &_nickname {
            margin: 0 30px;
        }
    }

    .followInfoContainer {
        margin: 0;
        padding: 0;
        border: 0;
    }
}


@media screen and (max-width: 565px) {

    .userInfoContainer {

        &_nickname {
            display: none;
        }
    }
}

@media screen and (max-width: 360px) {

    .userInfoContainer {
        padding: 20px 5px;
    }
}