.search-results{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color:rgba(112,112,112,0.3);
  z-index: 2;
  display: flex;
  justify-content: center;
}

.search-results-window{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  padding: 100px;
  border-radius: 50px;
}



